html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.container {
    width: auto;
    max-width: 1200px;
    padding: 0 15px;
}

h1.title {
    font-size: 2em;
    margin: 0 auto 0.8em 0;
}
.required {
    color: red;
}
label.error {
    margin: 0.8em 0 0 0;
    color: red;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.56);
    z-index: 100000002;
}

#preloader div {
    border: 1px solid #387be0;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff 50% 50%;
    margin: -15px 0 0 -129px;
    width: 18em;
    text-align: center;
    height: auto;
}
#preloader div img {
    padding: 1em;
}
#filter {
    border-radius: 15px;
}
.remove-contact {
    color: red;
    font-size: 1.3em;
    text-align: center;
    padding: 0.4em;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}
.edit-contact {
    font-size: 1.3em;
    text-align: center;
    padding: 0.4em;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}
.remove-contact:hover,
.edit-contact:hover {
    background: rgba(52, 52, 52, 0.1);
}

.filter-form {
    width: 30%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.copy {
    margin-top: 1.6em;
}
